@model CreatePostViewModel
@{

}

<h2>Редактирование статьи</h2>

<form asp-controller="EditPost" asp-action="Upsert" method="post">
	<input asp-for="Id" type="hidden" />
	<table>		
		@for (int i = 0; i < Model.Tags.Count; i++)
		{
			if(i % 3 == 0)
			{
				@:<tr></tr>
			}
			<td>
				@Html.CheckBoxFor(model => model.Tags[i].IsSelected)
				<lable>@Model.Tags[i].Name</lable>
				@Html.HiddenFor(model => model.Tags[i].Id)
			</td>
		}
	</table>
	<div>
		<label>Заголовок</label>
		<input class="form-control" asp-for="Title" />
	</div>
	<div>
		<label>Контент</label>
		<textarea class="form-control" rows="10" value="" asp-for="Body" ></textarea>
	</div>
	<br />
	<input class="btn btn-sm btn-primary" type="submit" value="Сохранить изменения" />
</form>
<p>
	<br />
    <a asp-controller="Posts" asp-action="Index">Вернуться к списку всех статей</a>
</p>