body {
    margin: 0;
    background-color: #9ee3f2;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

nav {
    background-color: #142127;
    height: 65px;
    width: 100%;
    text-align: center;
}

    nav a {
        display: inline-block;
        padding: 15px;
    }

.main-img {
    position: relative;
    height: 500px;
    background-image: url('../content/static/main-img.jpg');
    background-position: center;
    background-size: cover;
}

.title {
    position: absolute;
    color: white;
    font-size: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    text-shadow: 0 0 8px black
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.post {
    margin: 5px 0;
    position: relative;
    display: flex;
    height: 400px;
    box-shadow: 0 0 5px 0 black;
}

.post-img {
    width: 100%;
    object-fit: cover;
}

.post-body {
    margin: 0 0 0;
    padding: 20px 5px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.no-shadow {
    box-shadow: none;
}


.btn-mrg {
    margin: 0 5px;
}

.container-page {
    margin: 50px 180px;
}

.title-margin {
    margin: 30px 0;
}

.comment-body {
    border: 1px solid #EDF0E7;
    border-radius: 5px;
    padding: 10px;
}

.date-comment {
    font-size: 14px;
    color: gray;
}

.logout-container {
    border: 1px solid #EDF0E7;
    border-radius: 5px;
    padding: 20px 20px 10px 20px;
    display: flex;
}

.right {
    float: right;
}

